@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    height: 100%;
    background-image: url(../img/bg.png);
    color: rgba(47, 47, 47, 1);
}
.conteiner {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
