@media screen and (max-width: 1024px) {
    .conteiner {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 600px) {
    /* Авторизация */
    .header_start {
        display: none;
    }
   .header_mobile {
    display: block;
   }
    .header_mobile_logo {
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: rgba(255, 255, 255, 1);
        height: 54px;
        border-bottom: solid 1px rgba(200, 200, 200, 1);
        box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.15);
        margin-bottom: 15px;
    }
    .header_mobile_logo img {
        padding-left: 15px;
        max-width: 277px;
        width: 100%;
    }
    .btn_back {
        padding-left: 15px;
    }
    
    /* Клиентская панель */
    .header_start_client {
        display: none;
    }
    .header_client {
        display: none;
    }
    
    .header_mobile_client {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 1);
        height: 54px;
        border-bottom: solid 1px rgba(200, 200, 200, 1);
        box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.15);
        margin-bottom: 15px;
    }
    .header_mobile_client_logo img {
        padding-left: 15px;
        max-width: 277px;
        width: 100%;
    }
    .header_mobile_client_burger {
        border-left: rgba(231, 231, 231, 1) solid 1px;
        height: 54px;
    }
}
