/* //modal */
.z-depth-5,
.modal {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    /* position: relative; */
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 40px;
    min-height: 228px;
    width: 460px;
    margin: auto;
    overflow-y: auto;
    will-change: top, opacity;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.15);
}

.modal:focus {
    outline: none;
}

@media only screen and (max-width: 992px) {
    .modal {
        width: 80%;
    }
}

.modal h1,
.modal h2,
.modal h3,
.modal h4 {
    margin-top: 0;
}

.modal .modal-content {
    padding: 0;
}

.modal .modal-close {
    cursor: pointer;
}

.modal .modal-footer {
    background-color: rgba(122, 184, 14, 1);
    height: 46px;
    width: 180px;
}
.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-footer a {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-small,
.modal .modal-footer .btn-flat {
    margin: 6px 0;
}

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}

.modal.modal-fixed-footer {
    padding: 0;
    height: 70%;
}

.modal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
}

.modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
}

.modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 45%;
    border-radius: 0;
    will-change: bottom, opacity;
}

.datepicker-modal {
    max-width: 325px;
    min-width: 300px;
    max-height: none;
}

.datepicker-container.modal-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
}

@media only screen and (min-width: 601px) {
    .datepicker-modal {
        max-width: 625px;
    }

    .datepicker-container.modal-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .datepicker-date-display {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 270px;
        -ms-flex: 0 1 270px;
        flex: 0 1 270px;
    }

    .datepicker-controls,
    .datepicker-table,
    .datepicker-footer {
        width: 320px;
    }

    .datepicker-day-button {
        line-height: 44px;
    }
}

.timepicker-modal {
    max-width: 325px;
    max-height: none;
}

.timepicker-container.modal-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
}

@media only screen and (min-width: 601px) {
    .timepicker-modal {
        max-width: 600px;
    }

    .timepicker-container.modal-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .timepicker-text-container {
        top: 32%;
    }

    .timepicker-display-am-pm {
        position: relative;
        right: auto;
        bottom: auto;
        text-align: center;
        margin-top: 1.2rem;
    }
}