:root {
    --color_green: rgba(122, 184, 14, 1);
    --color_dark: rgba(47, 47, 47, 1);
    --border_grey: rgba(200, 200, 200, 1) solid 1px
    --border_grey_radius: 1px solid rgba(204, 204, 204, 1);
    --border_shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.15);
}


/* Авторизация-Регистрация */
.body_flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header_mobile {
    display: none;
}

.header_start {
    flex-shrink: 0;
}
.header_logo {
    padding-top: 20px;
}
.header_logo img {
    max-width: 940px;
    width: 100%;
}
.header_start_menu {
    display: flex;
    justify-content: space-between;
}
.btn_back button {
    width: 108px;
    height: 31px;
    border: 1px solid rgba(231, 231, 231, 1);
    background-color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 16px;
    color: var(--color_green);
}

.enter {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enter_item {
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
}
.enter_item p {
    margin-bottom: 28px;
}
.enter_form {
    display: flex;
    flex-direction: column;
}
.enter_h1 {
    font-size: 28px;
    font-weight: 400;
    color: var(--color_dark);
    margin-bottom: 28px;
}
.enter_p {
    margin-bottom: 28px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.enter_form label {
    font-size: 16px;
    font-weight: 700;
    color: var(--color_dark);
    margin-bottom: 6px;
}
.enter_form input {
    border: var(--border_grey_radius);
    border-radius: 2px;
    width: 100%;
    height: 38px;
    margin-bottom: 20px;
}
.enter_button {
    display: block;
    width: 100%;
    height: 46px;
    border: none;
    background-color: var(--color_green);
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}
.register-link a {
    color: var(--color_dark);
    font-size: 16px;
    font-weight: 400;
}

.enter_checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}
.enter_checkbox label {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.enter_checkbox input {
    text-align: left;
    width: 24px;
    height: 24px;
    margin: 0 2px 0 0;
}

.required::after {
    content: ' *';
    color: red;
}
.enter_select {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}
.enter_select select {
    border: var(--border_grey_radius);
    border-radius: 2px;
    height: 37px;
}

.confirm {
    display: flex;
    align-items: start;
    margin-bottom: 160px;
}
.confirm img {
    margin-right: 18px;
}
.confirm p {
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
}

.footer {
    flex-shrink: 0;
}
.footer_flex {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: var(--border_shadow);
    border: var(--border_grey);
    font-size: 12px;
    font-weight: 400;
    padding: 20px 30px;
    margin-bottom: 20px;
    width: 100%;
}
.footer_left {
}
.green_text {
    color: var(--color_green);
}
.footer_right {
}

/* Модальное окно */
.modal1_img {
    display: flex;
    justify-content: flex-end;
}
.modal-content h4 {
    font-size: 28px;
    font-weight: 400;
    color: var(--color_dark);
    margin-bottom: 20px;
}
.modal-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: var(--color_dark);
    margin-bottom: 30px;
}

/* Клиентская панель */
.header_mobile_client {
    display: none;
}

.header_start_client {
    margin-bottom: 20px;
}
.header_client {
}
.header_client_menu {
    background-color: rgba(255, 255, 255, 1);
    border: var(--border_grey);
    box-shadow: var(--border_shadow);
    margin-bottom: 20px;
}
.header_client_menu_ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.header_client_menu_ul li>a {
    display: flex;
    padding: 20px;
    gap: 8px;
    max-width: 940px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color_dark);
}
.header_client_menu_ul li:first-child {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.header_client_menu_ul li:nth-child(n+2) {
    flex-grow: 0;
    flex-shrink: 0;
    border-left: rgba(231, 231, 231, 1) solid 1px;
}
.menu_INN {
}

/* sidnav Mobile */
.sidnav_li_inn {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.create_request {
    background-color: var(--color_green);
    height: 48px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.create_request_flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.create_request_flex p {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
}
.sidenav_mobile_li {
    font-size: 16px;
    font-weight: 400;
    height: 48px;
}
.sidenav_li_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidenav_li_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.sidenav_li_right {
    background-color: var(--color_green);
    height: 22px;
    min-width: 22px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
}

/* Основная часть */
.page {
}
.page_flex {
    display: flex;
    gap: 20px;
}


/* Меню слева */
.page_flex_menu {
    background-color: rgba(255, 255, 255, 1);
    border: var(--border_grey);
    box-shadow: var(--border_shadow);
    min-width: 280px;
    height: 370px;
    padding: 30px;
}
.page_menu_ul {
    list-style: none;
}
.page_create_request_flex {
    background-color: var(--color_green);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    height: 46px;
    padding-left: 24px;
}
/* .page_create_request_flex img {
    margin-right: 13px;
} */
.page_menu_li_flex {
}
.page_menu_li_left {
}
.page_menu_li_right {
}

/* Основная часть */
.page_flex_body {
    background-color: rgba(255, 255, 255, 1);
    border: var(--border_grey);
    box-shadow: var(--border_shadow);
    min-width: 640px;
    padding: 20px 30px 30px;
}

