<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'site/css/basic_style.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/media.css' %}">
    <title>Личный кабинет КСЯ</title>
</head>

<body>

    <div class="body_flex">

        <header class="header_start">
            <div class="conteiner">
                <div class="header_logo">
                    <img src="{% static 'site/img/header_logo.svg' %}" alt="">
                </div>
                <div class="header_start_menu">
                    <a class="btn_back" href="http://ksykt.ru/"><button>Назад</button></a>
                    <!-- <a href="#"><button>Личный кабинет</button></a> -->
                </div>
            </div>
        </header>

        <!-- Menu Mobile -->
        <header class="header_mobile">
            <div class="header_mobile_logo">
                <img src="{% static 'site/img/logo_mobile.svg' %}" alt="">
            </div>
            <a class="btn_back" href="http://ksykt.ru/"><button>&larr; Назад</button></a>
            <!-- <div class="header_mobile_burger">
                <img src="{% static 'site/img/burger.svg' %}" alt="">
            </div> -->
        </header>

        <div class="enter">
            <div class="conteiner">
                <div class="enter_item">
                    <!-- <a class="btn_back" href="http://ksykt.ru/"><button>&larr; Назад</button></a> -->
                    <h1 class="enter_h1">Вход в панель управления</h1>
                    <form class="enter_form" action="" method="post">
                        {% csrf_token %}
                        <label for="inn">Введите ваш ИНН</label>
                        <input type="text" name="inn" id="inn">
                        <label for="email">Эл. почта</label>
                        <input type="text" name="email" id="email">
                        <button class="enter_button" type="submit">Получить пароль</button>
                        <div class="register-link">
                            <a href="#">Регистрация</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="conteiner">
                <div class="footer_flex">
                    <div class="footer_left">&#169; Copyright 2024 - <span class="green_text">Кейсистемс-Якутия</span>
                    </div>
                    <div class="footer_right"></div>
                </div>
            </div>
        </footer>

    </div>

</body>

</html>