<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'site/css/basic_style.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/media.css' %}">
    <title>Личный кабинет КСЯ</title>
</head>
<body>
    
    <header class="header_start">
        <div class="conteiner">
            <div class="header_logo">
                <img src="{% static 'site/img/header_logo.svg' %}" alt="">
                <img src="{% static 'site/img/КЛИЕНТСКАЯ ПАНЕЛЬ.png' %}" alt="КЛИЕНТСКАЯ ПАНЕЛЬ">
            </div>
            <div class="header_start_menu">
                <a class="btn_back" href="http://ksykt.ru/"><button>&larr; Назад</button></a>
                <!-- <a href="#"><button>Личный кабинет</button></a> -->
            </div>
        </div>
    </header>

</body>
</html>