<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'site/css/basic_style.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/sidenav.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/media.css' %}">
    <title>Личный кабинет КСЯ</title>
</head>

<body>

    <header class="header_start_client">
        <div class="conteiner">
            <div class="header_logo">
                <img src="{% static 'site/img/header_logo+клиентская_панель.svg' %}" alt="">
            </div>
        </div>
    </header>

    <!-- Menu Mobile -->
    <header class="header_mobile_client">
        <div class="header_mobile_client_logo">
            <img src="{% static 'site/img/logo_mobile.svg' %}" alt="">
        </div>
        <!-- <a class="btn_back" href="http://ksykt.ru/"><button>&larr; Назад</button></a> -->
        <div class="header_mobile_client_burger">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons"><img src="{% static 'site/img/burger.svg' %}" alt=""></i></a>
        </div>
    </header>

    <!-- SideNav Mobile -->
    <ul id="slide-out" class="sidenav">
        <li class="sidnav_li_inn">
            <p class="menu_INN">ИНН: 5029387126</p>
            <p>Учреждение</p>
        </li>
        <li class="create_request">
            <a href="#!">
                <div class="create_request_flex">
                    <img src="{% static 'site/img/plus.svg' %}" alt="+">
                    <p>Создать заявку</p>
                </div>
            </a>
        </li>
        <li class="sidenav_mobile_li">
            <a href="#!">
                <div class="sidenav_li_flex">
                    <div class="sidenav_li_left">
                        <img src="{% static 'site/img/request.svg' %}" alt="">
                        <p>Заявки</p>
                    </div>
                    <div class="sidenav_li_right">1</div>
                </div>
            </a>
        </li>
        <li class="sidenav_mobile_li">
            <a href="#!" class="sidenav-close">
                <div class="sidenav_li_left">
                    <img src="{% static 'site/img/news.svg' %}" alt="">
                    <p>Лента новостей</p>
                </div>
            </a>
        </li>
        <li class="sidenav_mobile_li">
            <a href="#!">
                <div class="sidenav_li_flex">
                    <div class="sidenav_li_left">
                        <img src="{% static 'site/img/push.svg' %}" alt="">
                        <p>Уведомления</p>
                    </div>
                    <div class="sidenav_li_right">1</div>
                </div>
            </a>
        </li>
        <li class="sidenav_mobile_li">
            <a href="#!">
                <div class="sidenav_li_flex">
                    <div class="sidenav_li_left">
                        <img src="{% static 'site/img/update.svg' %}" alt="">
                        <p>Обновление ПО</p>
                    </div>
                    <div class="sidenav_li_right">1</div>
                </div>
            </a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="#!">
                <div class="sidenav_li_left">
                    <img src="{% static 'site/img/setting.svg' %}" alt="">
                    <p>Настройки</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#!">
                <div class="sidenav_li_left">
                    <img src="{% static 'site/img/faq.svg' %}" alt="setting">
                    <p>ВОПРОСЫ-ОТВЕТЫ</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#!">
                <div class="sidenav_li_left">
                    <img src="{% static 'site/img/logout.svg' %}" alt="setting">
                    <p>ВЫЙТИ</p>
                </div>
            </a>
        </li>
    </ul>

    <header class="header_client">
        <div class="conteiner">
            <div class="header_client_menu">
                <ul class="header_client_menu_ul">
                    <li>
                        <p class="menu_INN">ИНН: 5029387126</p>
                        <p>Учреждение</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'site/img/setting.svg' %}" alt="setting">
                            <p>НАСТРОЙКИ</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'site/img/faq.svg' %}" alt="setting">
                            <p>ВОПРОСЫ-ОТВЕТЫ</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'site/img/logout.svg' %}" alt="setting">
                            <p>ВЫЙТИ</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <script type="text/javascript" src="{% static 'site/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/main_sidenav.js' %}"></script>

</body>

</html>