<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'site/css/basic_style.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/media.css' %}">
    <title>Личный кабинет КСЯ</title>
</head>
<body>
    
    <header class="header_start_client">
        <div class="conteiner">
            <div class="header_logo">
                <img src="{% static 'site/img/header_logo+клиентская_панель.svg' %}" alt="">
            </div>
        </div>
    </header>

    <!-- Menu Mobile -->
    <header class="header_mobile_client">
        <div class="header_mobile_client_logo">
            <img src="{% static 'site/img/logo_mobile.svg' %}" alt="">
        </div>
        <!-- <a class="btn_back" href="http://ksykt.ru/"><button>&larr; Назад</button></a> -->
        <div class="header_mobile_client_burger">
            <a href="#"><img src="{% static 'site/img/burger.svg' %}" alt=""></a>
        </div>
    </header>

    <header class="header_client">
        <div class="conteiner">
            <div class="header_client_menu">
                <ul class="header_client_menu_ul">
                    <li><p class="menu_INN">ИНН: 5029387126</p><p>Учреждение</p></li>
                    <li><img src="{% static 'site/img/setting.svg' %}" alt="setting"><p>НАСТРОЙКИ</p></li>
                    <li><img src="{% static 'site/img/faq.svg' %}" alt="setting"><p>ВОПРОСЫ-ОТВЕТЫ</p></li>
                    <li><img src="{% static 'site/img/logout.svg' %}" alt="setting"><p>ВЫЙТИ</p></li>
                </ul>
            </div>
        </div>
    </header>

</body>
</html>